TradesAllocationApp/App_Data/TradesAllocationApp.Models.TodoListContext.mdf
TradesAllocationApp/App_Data/TradesAllocationApp.Models.TodoListContext_log.ldf
TradesAllocationApp/TradeAllocationsApp.v12.suo
TradesAllocationApp/app/.idea/workspace.xml
*.cache
