<div ng-if="isFavouritePage" favourites-tabs></div>
<div class="clearfix allocations">
    <div class="allocations-settings pull-left">
        <div class="columns">
            <a href="" bs-popover="'/Templates/Trades/AllocationsColumnsPopover.html'" data-placement="bottom" ng-controller="AllocationsColumnsController" auto-close-popover>
                <i class="icon-cog"></i>
                <i class="icon-caret-down"></i>
            </a>
        </div>
        <div class="count">Total results: {{totalCount}}</div>
    </div>
    
    <div tree-grid></div>
</div>