
<div class="container-fluid footer">
    <ul class="inline">
        <li><a href="http://www.bcaresearch.com" target="_blank">BCAresearch.com</a></li>
        <li>|</li>
        <li><a href="http://www.bcaresearch.com/privacy" target="_blank">Privacy Policy</a></li>
        <li>|</li>
        <li><a href="http://www.bcaresearch.com/copyright" target="_blank">Copyright</a></li>
        <li>|</li>
        <li><a href="http://www.bcaresearch.com/about" target="_blank">About Us</a></li>
        <li>|</li>
        <li><a href="http://www.bcaresearch.com/privacy" target="_blank">Cookies</a></li>
    </ul>
</div>